@media print {
  @page {
    size: A4;
    width: 8.5in;
    height: 11in;
  }

  .page-break {
    page-break-before: always;
  }

  * {
    transition: none !important;
  }

  .app-print {
    background-color: white !important;
    margin-left: 0.8cm !important;
    margin-right: 0.8cm !important;
    padding-top: 0 !important;
    /* also-felso margo custom beallitas print viewba */
  }

  .nav-print {
    display: none !important;
  }

  .print-container {
    width: 100% !important;
  }

  .header-row-print {
    display: none !important;
    margin: 0 !important;
  }

  .row-print {
    height: 3.3cm !important;
  }
  .col-print {
    width: 6.4cm !important;
  }
}
